.Header {
    display: flex;
    justify-content:space-between;
    margin: 10px;
    border: 2px solid black;
}

.Nav-Items >ul {
    list-style-type: none;
    display:flex;
    
}

.Nav-Items >ul >li {
    padding: 15px;
    font-size: x-large;
}
.Logo {
    width: 100px;
}